
.about_container_inner {
    margin: 0 auto;
    width: 80%;

    border-radius: 10px;

    background-color: #bbbbbbde;
}

.about_general_info {
    text-align: center;
    padding: 20px;
}

.general_info_title {
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}

.about_team {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 80%;
    justify-content: center;
}

.teammate_info {
    padding: 50px 40px;
}

.teammate_name {
    margin-top: 10px;
}
