
.admin_inner {
    width: 60%;
    background-color: #bbbbbb;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
}

.admin_title {
    color: #2a2f3a;
    width: 100%;
    text-align: center;
}

.product_creation_form {
    display: flex;
    flex-direction: column;
}

.form_item {
    width: 60%;
    margin: 5px auto;
    padding: 3px;
    text-align: center;
    border: none;
}

.form_submit {
    background-color: rgb(80, 151, 9);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.file_uploader_container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.product_modification_container {
    width: 90%;
    margin: 0 auto;
}

.product_modification_container > *{
    margin: 10px 0;
}

.admin_product_item {
    text-decoration: none;
    text-align: center;
    color: #2a2f3a;
    margin-bottom: 30px;
}

.admin_product_modification_area {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.admin_product_modification_area > input, textarea {
    margin: 10px 0;
}

.admin_product_modification_area > textarea {
    height: 60px;
}

.admin_product_item_img {
    height: 50%;
}

.admin_product_item_controls {
    display: flex;
    justify-content: center;
}

.admin_product_item_controls > div {
    margin: 0 5px;
}
