
.detail_view_inner {
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    background-color: #bbbbbb;
    color: #2a2f3a;
    border-radius: 15px;
}

.detail_product_item {
    width: 100%;
    height: inherit;
    display: flex;
    padding: 10px;
}

.detail_product_item_img {
    height: 100%;
    border-radius: 5px;
} 

.product_meta {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.add_product_button {
    padding: 5px 0;
    border: 0;
    border-radius: 5px;
    width: 100%;
    font-weight: 400;
    margin-top: auto;
}

.button_active {
    background-color: rgb(80, 151, 9);
    color: white;
}

.button_in_basket {
    background-color: #343c4e;
    color: #bbbbbb;
}

.button_zero_product {
    background-color: gray;
    color: #bbbbbb;
}
